*{
    margin:0;
    padding:0;
    border:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    position:fixed;
    top:0px;
    width:100vw;
    font-size: 14px;
    color: white;
    height:60px;
    background-color: #000000;
}
#logo{
    position:absolute;
    top:5px;
    left:5px;
    background-image: url("Images/amazon_logo.jpg");
    height:50px;
    width:105px;
    background-size: contain;
    background-repeat: no-repeat;
}
#logo:hover{
    border:2px solid white;
}